/******************** LAYOUT ********************/
#root{
  background: #141414;
}

.container {
  min-height: 100vh;
  padding-top: 4rem;
  color: white;
}

/********** GLOBAL USEFUL CLASSES **********/
.is-transparent {
  background: transparent;
}