.card {
  max-width: 25rem !important;
  &.is-m-3 {
    margin: 0.75rem;
  }
}

.img-card{
  object-fit: cover;
}

.teaser {
  max-height: 10rem;
  padding-right: 1rem;

  .card-content {display: none}
  .card-footer {display: none}
}